* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  color: #000000;
  transition: background-image 1s ease-in-out;
}

.time {
  font-size: 6rem;
  width: 600px;
}
@media (max-width: 768px){
  .time {
    width: 100%;
  } 
}

@media (max-width: 768px) {
  .time {
    font-size: 6rem;
  }
}
@media (max-width: 768px){
  .time {
    font-size: 3rem;
  }
}
h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.dayOfWeek {
  display: inline;
  font-size: 3rem;
  color: antiquewhite;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .dayOfWeek {
    font-size: 1.5rem;
  }
}
.day {
  font-size: 3rem;
  color: antiquewhite;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .day {
    font-size: 1.5rem;
  }
}
.month {
  display: inline;
  font-size: 3rem;
  color: antiquewhite;
}
@media (max-width: 768px) {
  .month {
    font-size: 1.5rem;
  }
}
.wrapper-month {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.button {
  width: 60px;
  height: auto;
  transition: all .8s;
}
@media (max-width: 768px) {
  .button {
    width: 40px;
    height: auto;
  }
}
.button:hover {
  transform: rotate(90deg);
  opacity: .6;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .greeting {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .name {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .focus__title{
    font-size: 1rem;
  }
}


.joke-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
background-color: rgba(201, 197, 235, .3);
padding: 10px 10px;
border-radius: 5px;
width: 60%;
}
.joke__title{
  align-self: flex-start;
  margin-bottom: 6px;
}
.joke{
  font-style: italic;
  text-align: left;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
}
.button__joke {
  width: 30px;
  height: auto;
  transition: all .8s;
 
}
.button__joke:hover {
  transform: rotate(90deg);
  opacity: .6;
  cursor: pointer;
  border: 2px solid ;
  border-radius: 50%;
}
.weather-wrapper {
  align-self: flex-start;
}
@media (max-width: 768px) {
  .weather-wrapper {
    align-self: center;
  }
}
.input {
  background-color: rgba(201, 197, 235, .3);
  border: none;
  height: 30px;
  border-radius: 15px;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  border: none;
}
::-webkit-input-placeholder {color:wheat;}
::-moz-placeholder          {color:wheat;}/* Firefox 19+ */
:-moz-placeholder           {color:wheat;}/* Firefox 18- */
:-ms-input-placeholder      {color:wheat;}

.current__city {
 font-size: 2rem;
 margin-bottom: 5px;
}
.btn__weather {
  width: 35px;
  height: auto;
  transition: all .8s;
  background-color: rgba(201, 197, 235, .3);
  border-radius: 50%;

}
.btn__weather:hover {
  transform: rotate(90deg);
  opacity: .6;
  cursor: pointer;
  border: 2px solid ;
  border-radius: 50%;
}
.weather__date__wrapper {
  display: flex;
  align-items: center;

}
